files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server
      server {
          listen       443 ssl;
          server_name  localhost;
          
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1.2 TLSv1.3;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;
          
          location / {
              proxy_pass  http://localhost:8080;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }

container_commands:
  01_create_cert_file:
    command: "touch /etc/pki/tls/certs/server.crt"
  02_create_key_file:
    command: "touch /etc/pki/tls/private/server.key"
  03_set_cert_permissions:
    command: |
      sudo chown root:root /etc/pki/tls/certs/server.crt
      sudo chmod 644 /etc/pki/tls/certs/server.crt
  04_set_key_permissions:
    command: |
      sudo chown root:root /etc/pki/tls/private/server.key
      sudo chmod 600 /etc/pki/tls/private/server.key
  05_download_cert:
    command: "aws acm get-certificate --certificate-arn arn:aws:acm:ap-southeast-2:216989093846:certificate/350098e3-95b4-4b9d-b053-dda379e436aa --output text --query Certificate > /etc/pki/tls/certs/server.crt"
  06_download_key:
    command: "aws acm get-certificate --certificate-arn arn:aws:acm:ap-southeast-2:216989093846:certificate/350098e3-95b4-4b9d-b053-dda379e436aa --output text --query PrivateKey > /etc/pki/tls/private/server.key"
  07_download_chain:
    command: "aws acm get-certificate --certificate-arn arn:aws:acm:ap-southeast-2:216989093846:certificate/350098e3-95b4-4b9d-b053-dda379e436aa --output text --query CertificateChain >> /etc/pki/tls/certs/server.crt"